section.heroHome 
  .heroHome__wrap 
    .heroHome__el.heroHome__el--big 
      a(href="#")
        img(src="./img/img1.jpg", alt="image")
        .heroHome__caption This is a Hero section and special post preview in here
    .heroHome__el.heroHome__el--small.hidden-xs
      a(href="#")
        img(src="./img/img2.jpg", alt="image")
        .heroHome__caption This is a Hero section and special post preview in here
      a(href="#")
        img(src="./img/img3.jpg", alt="image")
        .heroHome__caption This is a Hero section and special post preview in here
