section.intro 
  .container 
    .intro__inner 
      .intro__text 
        h1.heading.intro__heading Hi there, I’m 
          span.text-primary Ixartz
          |👋
        p.subtitle 
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
          |  Phasellus malesuada nisi tellus, non imperdiet nisi tempor at.
          |  Lorem ipsum dolor sit amet, 
          span.text-primary consectetur
          |  adipiscing elit, 
          |  sed do eiusmod tempor incididunt ut labore et 
          span.text-primary dolore
          | .
      img.intro__photo(src="./img/man.png", alt="Man" width="100" height="100")


    .intro__socials
      ul
        li
          a.ic.ic-twitter-h(href="#") 
        li
          a.ic.ic-facebook-h(href="#") 
        li
          a.ic.ic-linkedin-h(href="#") 
        li
          a.ic.ic-youtube-h(href="#") 
