include ../../storage/posts.pug
include ../../inc/mixins.pug


section.section.populars
  .container
    .sectionHeading.sectionHeading--single 
      h2.heading.sectionHeading__heading Most 
        span.text-primary populars
      p.sectionHeading__subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse bibendum.
    .posts
      each post in posts_list
        +post(post)
