include ../../storage/posts.pug
include ../../inc/mixins.pug


section.postPage
  .container
    .sectionHeading.sectionHeading--single 
      h1.heading.sectionHeading__heading Lorem ipsum dolor Lorem ipsum dolor 
    .postPage__info By Ixartz on April 24, 2022 - 5 min read
    .postPage__thumb 
      img(src="./img/posts/post1.jpg", alt="thumb" width="230" height="180")
    .content 
      p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt, blanditiis?
      p dfgdsgdfg 
      p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos nobis delectus, atque explicabo earum accusantium, saepe voluptatibus perferendis odio soluta veritatis. Tempora, omnis non cum nulla numquam cumque aliquid est ullam maiores sapiente perferendis, laudantium modi eius beatae? Itaque, quia? Autem iste voluptatum laboriosam, suscipit ducimus illo nemo corporis similique, possimus, ea impedit.
      p 123
      h2 Lorem ipsum dolor h2
      p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt, blanditiis?
      p dfgdsgdfg 
      p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt, blanditiis?
      p dfgdsgdfg 
      h3 Lorem ipsum dolor h3
      p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt, blanditiis?
      p dfgdsgdfg 
      p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt, blanditiis?
      p dfgdsgdfg 
      h4 Lorem ipsum dolor h4
      p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt, blanditiis?
      p dfgdsgdfg 
      p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt, blanditiis?
      p dfgdsgdfg 
      h5 Lorem ipsum dolor h5 
      p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt, blanditiis?
      p dfgdsgdfg 
      p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt, blanditiis?
      p dfgdsgdfg 
