header.header
  .container
    .header__wrap
      .logo
        a.ic.ic-logo-h(href="/") Ixartz’s Blog 
      nav.navigation
        ul
          li
            a.link(href="#") Blog
          li
            a.link(href="#") Newsletter
          li
            a.link(href="#") Twitter
