include ../../storage/menu.pug

header.header
  .container
    .header__wrap
      .logo
        a.ic.ic-logo-h(href="/") Ixartz’s Blog 
      nav.navigation
        ul
          each link in menu
            li
              a.link.ellipsis(href=link.href title=link.title)=link.title
