@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*:target, *:focus, *:active {
  outline: none;
}

html {
  overflow-x: hidden;
}
html.blocked {
  overflow-y: hidden;
}
html.blocked body {
  padding-right: 16px;
}

body {
  font-size: 20px;
  font-weight: 400;
  font-family: "Roboto";
  line-height: 1.5;
  overflow-x: clip;
  background: #0F172A;
  color: #CBD5E1;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body.root {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
body.compensate-for-scrollbar {
  margin-right: 0;
}

button,
input,
textarea {
  font-family: "Roboto";
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: #F8FAFC;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

table th, table td {
  border: 1px solid #AEAFB3;
  padding: 20px 32px;
  vertical-align: middle;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}
table th {
  font-weight: 600;
  color: #000;
}

ul.ul li {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
ul.ul li::before {
  content: "";
  display: inline-block;
  min-width: 7px;
  min-height: 7px;
  background: #22D3EE 32.96%, #0EA5E9 52.81%;
  border-radius: 50%;
  margin: 8px 8px 0 0;
}
ul.ul li:not(:last-child) {
  margin-bottom: 16px;
}

.scroll::-webkit-scrollbar {
  display: block;
  width: 2px;
  background: rgba(0, 0, 0, 0);
}
.scroll::-webkit-scrollbar-thumb {
  background: #22D3EE 32.96%, #0EA5E9 52.81%;
}
.scroll--table::-webkit-scrollbar {
  height: 4px;
}
.scroll--breadcrumbs::-webkit-scrollbar {
  height: 4px;
}
.scroll--breadcrumbs::-webkit-scrollbar-thumb {
  background: #414141;
}

@-moz-document url-prefix() {
  .scroll {
    scrollbar-color: #22D3EE 32.96%, #0EA5E9 52.81% rgba(0, 0, 0, 0);
    scrollbar-width: thin;
  }
}
.visible-xs {
  display: block !important;
}
@media (min-width: 768px) {
  .visible-xs {
    display: none !important;
  }
}

.hidden-xs {
  display: none !important;
}
@media (min-width: 768px) {
  .hidden-xs {
    display: block !important;
  }
}

.disable {
  display: none !important;
}

.content p {
  margin-bottom: 16px;
}

div:active, div:target, div:focus, img:active, img:target, img:focus, section:active, section:target, section:focus, span:active, span:target, span:focus, p:active, p:target, p:focus {
  outline: none;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  body {
    overflow: hidden;
  }
  body::before {
    content: "К сожалению сайт не может открыться в вашем браузере, так как он устарел. Пожалуйста обновите ваш браузер и попробуйте еще раз.";
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #fff;
    z-index: 1000;
    text-align: center;
    padding-top: 50px;
  }
}
.btn {
  display: block;
  background: rgba(0, 0, 0, 0);
  color: inherit;
  border: none;
  padding: 9px 20px;
  border-radius: 30px;
  font-size: 10px;
  font-weight: 700;
}
@media (min-width: 500px) {
  .btn {
    font-size: 14px;
  }
}
@media (min-width: 768px) {
  .btn {
    padding: 12px 36px;
    font-size: 20px;
  }
}
.btn:hover {
  cursor: pointer;
  text-decoration: none;
}
.btn--primary {
  background: -webkit-linear-gradient(270deg, #22D3EE 32.96%, #0EA5E9 52.81%);
  color: #1E293B;
}
@media (min-width: 500px) {
  .btn--primary:hover {
    background: #F8FAFC;
    -webkit-text-fill-color: #1E293B;
  }
}

.container {
  width: 92%;
  margin: 0 auto;
}
@media (min-width: 1223px) {
  .container {
    width: 1150px;
  }
}

.layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.heading {
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  color: #F8FAFC;
}
@media (min-width: 500px) {
  .heading {
    font-size: 32px;
    line-height: 40px;
  }
}
@media (min-width: 768px) {
  .heading {
    margin-bottom: 48px;
    font-size: 48px;
    line-height: 56px;
  }
}

.subtitle {
  font-size: 10px;
  font-weight: 500;
}
@media (min-width: 500px) {
  .subtitle {
    font-size: 14px;
  }
}
@media (min-width: 768px) {
  .subtitle {
    font-size: 26px;
  }
}

.text-primary {
  background: -webkit-linear-gradient(270deg, #22D3EE 32.96%, #0EA5E9 52.81%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header {
  padding: 6px 0;
}
@media (min-width: 768px) {
  .header {
    padding: 20px 0;
  }
}
.header__wrap {
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo a {
  background: -webkit-linear-gradient(270deg, #22D3EE 32.96%, #0EA5E9 52.81%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 15px;
  font-weight: 700;
  line-height: 1.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 500px) {
  .logo a:hover {
    background: rgba(0, 0, 0, 0);
    -webkit-text-fill-color: #F8FAFC;
  }
}
@media (min-width: 500px) {
  .logo a {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5px;
  }
}
@media (min-width: 768px) {
  .logo a {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.5px;
  }
}

.navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navigation ul li:not(:last-child) {
  margin-right: 10px;
}
@media (min-width: 768px) {
  .navigation ul li:not(:last-child) {
    margin-right: 40px;
  }
}
.navigation ul li a {
  display: block;
  font-size: 10px;
  font-weight: 700;
}
@media (min-width: 500px) {
  .navigation ul li a {
    font-size: 16px;
    font-weight: 700;
  }
}
@media (min-width: 768px) {
  .navigation ul li a {
    padding: 10px;
    font-size: 24px;
    font-weight: 700;
  }
}

.intro {
  margin-top: 24px;
}
@media (min-width: 768px) {
  .intro {
    margin-top: 85px;
  }
}
.intro__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 500px) {
  .intro__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (min-width: 1223px) {
  .intro__inner {
    padding-right: 35px;
  }
}
@media (min-width: 500px) {
  .intro__text {
    max-width: 64%;
  }
}
.intro__heading {
  text-align: center;
  margin-top: 16px;
}
@media (min-width: 500px) {
  .intro__heading {
    text-align: left;
    margin-top: 0;
  }
}
.intro__photo {
  max-width: 100px;
  width: 100%;
}
@media (min-width: 500px) {
  .intro__photo {
    max-width: 27%;
  }
}
.intro__socials {
  margin-top: 28px;
}
@media (min-width: 500px) {
  .intro__socials {
    margin-top: 16px;
  }
}
.intro__socials ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 500px) {
  .intro__socials ul {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
.intro__socials ul li:not(:last-child) {
  margin-right: 20px;
}
@media (min-width: 500px) {
  .intro__socials ul li:not(:last-child) {
    margin-right: 32px;
  }
}

.projects {
  padding-top: 58px;
}
@media (min-width: 768px) {
  .projects {
    padding-top: 132px;
  }
}
@media (min-width: 500px) {
  .projects__wrap {
    padding-top: 44px;
  }
}
.projects__heading {
  margin-bottom: 20px;
}
@media (min-width: 500px) {
  .projects__heading {
    margin-bottom: 10px;
  }
}
@media (min-width: 768px) {
  .projects__heading {
    margin-bottom: 40px;
  }
}

.project {
  background: #1E293B;
  border-radius: 20px;
  padding: 10px;
  display: block;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.project:not(:last-child) {
  margin-bottom: 24px;
}
@media (min-width: 500px) {
  .project:not(:last-child) {
    margin-bottom: 40px;
  }
}
@media (min-width: 500px) {
  .project {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (min-width: 768px) {
  .project {
    padding: 30px;
  }
}
@media (min-width: 500px) {
  .project__photo {
    width: 23%;
  }
}
.project__photo img {
  width: 50px;
  margin: 0 auto;
}
@media (min-width: 500px) {
  .project__photo img {
    width: 100%;
    height: 240px;
    -o-object-fit: contain;
       object-fit: contain;
    margin: 0;
  }
}
.project__descr {
  margin: 18px 0 0 0;
}
@media (min-width: 500px) {
  .project__descr {
    margin: 0 0 0 44px;
  }
}
.project__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 500px) {
  .project__name {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
.project__title {
  font-size: 15px;
  font-weight: 500;
  color: #F8FAFC;
}
@media (min-width: 500px) {
  .project__title {
    font-size: 30px;
  }
}
.project__type {
  margin-left: 10px;
  border-radius: 10px;
}
@media (min-width: 500px) {
  .project__type {
    margin-left: 20px;
  }
}
.project__type span {
  display: block;
  padding: 8px;
  background-clip: text !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  font-size: 10px;
  font-weight: 700;
}
@media (min-width: 500px) {
  .project__type span {
    font-size: 14px;
  }
}
.project__type--tpl1 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(16, 185, 129, 0.2)), to(rgba(190, 242, 100, 0.2)));
  background: linear-gradient(180deg, rgba(16, 185, 129, 0.2) 0%, rgba(190, 242, 100, 0.2) 100%);
}
.project__type--tpl1 span {
  background: -webkit-gradient(linear, left top, left bottom, from(#10B981), to(#BEF264));
  background: linear-gradient(180deg, #10B981 0%, #BEF264 100%);
}
.project__type--tpl2 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(220, 38, 38, 0.2)), to(rgba(249, 115, 22, 0.2)));
  background: linear-gradient(180deg, rgba(220, 38, 38, 0.2) 0%, rgba(249, 115, 22, 0.2) 100%);
}
.project__type--tpl2 span {
  background: -webkit-gradient(linear, left top, left bottom, from(#DC2626), to(#F97316));
  background: linear-gradient(180deg, #DC2626 0%, #F97316 100%);
}
.project__type--tpl3 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(124, 58, 237, 0.2)), to(rgba(96, 165, 250, 0.2)));
  background: linear-gradient(180deg, rgba(124, 58, 237, 0.2) 0%, rgba(96, 165, 250, 0.2) 100%);
}
.project__type--tpl3 span {
  background: -webkit-gradient(linear, left top, left bottom, from(#7C3AED), to(#60A5FA));
  background: linear-gradient(180deg, #7C3AED 0%, #60A5FA 100%);
}
.project__subtitle {
  padding-top: 18px;
}
@media (min-width: 500px) {
  .project__subtitle {
    padding-top: 26px;
  }
}
.project__subtitle p {
  font-size: 10px;
  font-weight: 400;
}
@media (min-width: 500px) {
  .project__subtitle p {
    font-size: 14px;
  }
}
@media (min-width: 768px) {
  .project__subtitle p {
    font-size: 20px;
  }
}
.project__subtitle p:not(:last-child) {
  margin-bottom: 8px;
}
@media (min-width: 500px) {
  .project__subtitle p:not(:last-child) {
    margin-bottom: 14px;
  }
}
@media (min-width: 768px) {
  .project:hover {
    -webkit-transform: scale(1.01);
        -ms-transform: scale(1.01);
            transform: scale(1.01);
  }
}

.latest {
  padding-top: 36px;
}
@media (min-width: 500px) {
  .latest {
    padding-top: 95px;
  }
}
@media (min-width: 500px) {
  .latest__wrap {
    padding-top: 48px;
  }
}