/* roboto-300 - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/roboto-v30-cyrillic_latin-300.eot");
  src: url("../fonts/roboto-v30-cyrillic_latin-300.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-cyrillic_latin-300.woff2") format("woff2"), url("../fonts/roboto-v30-cyrillic_latin-300.woff") format("woff"), url("../fonts/roboto-v30-cyrillic_latin-300.ttf") format("truetype"), url("../fonts/roboto-v30-cyrillic_latin-300.svg#Roboto") format("svg");
}
/* roboto-regular - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-cyrillic_latin-regular.eot");
  src: url("../fonts/roboto-v30-cyrillic_latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-cyrillic_latin-regular.woff2") format("woff2"), url("../fonts/roboto-v30-cyrillic_latin-regular.woff") format("woff"), url("../fonts/roboto-v30-cyrillic_latin-regular.ttf") format("truetype"), url("../fonts/roboto-v30-cyrillic_latin-regular.svg#Roboto") format("svg");
}
/* roboto-500 - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v30-cyrillic_latin-500.eot");
  src: url("../fonts/roboto-v30-cyrillic_latin-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-cyrillic_latin-500.woff2") format("woff2"), url("../fonts/roboto-v30-cyrillic_latin-500.woff") format("woff"), url("../fonts/roboto-v30-cyrillic_latin-500.ttf") format("truetype"), url("../fonts/roboto-v30-cyrillic_latin-500.svg#Roboto") format("svg");
}
/* roboto-700 - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v30-cyrillic_latin-700.eot");
  src: url("../fonts/roboto-v30-cyrillic_latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-cyrillic_latin-700.woff2") format("woff2"), url("../fonts/roboto-v30-cyrillic_latin-700.woff") format("woff"), url("../fonts/roboto-v30-cyrillic_latin-700.ttf") format("truetype"), url("../fonts/roboto-v30-cyrillic_latin-700.svg#Roboto") format("svg");
}
.input {
  padding: 12px;
  border: 1px solid transparent;
  resize: none;
  width: 100%;
  background: #1E293B;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 400;
  color: #F8FAFC;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
@media (min-width: 500px) {
  .input {
    font-size: 14px;
    padding: 16px;
  }
}
@media (min-width: 768px) {
  .input {
    padding: 22px 22px 22px 42px;
    font-size: 20px;
  }
}
.input::-webkit-input-placeholder {
  color: #CBD5E1;
  font-family: "Roboto";
}
.input::-moz-placeholder {
  color: #CBD5E1;
  font-family: "Roboto";
}
.input:-moz-placeholder {
  color: #CBD5E1;
  font-family: "Roboto";
}
.input:-ms-input-placeholder {
  color: #CBD5E1;
  font-family: "Roboto";
}
.input--err {
  border-color: red !important;
  -webkit-animation: input_error 0.1s linear 0s 2;
          animation: input_error 0.1s linear 0s 2;
}
.input--ok {
  border-color: green;
}

.field--two {
  display: block;
}
.field--two input:not(:last-child),
.field--two textarea:not(:last-child) {
  margin-bottom: 16px;
}
@media (min-width: 500px) {
  .field--two {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
  }
}
.field--three {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 8px;
}

@-webkit-keyframes input_error {
  0% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
  50% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes input_error {
  0% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
  50% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
.overlay {
  overflow-y: hidden;
}
.overlay::before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

@media (min-width: 768px) {
  .link:hover {
    background: -webkit-linear-gradient(270deg, #325EB4 50%, #478EE2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.sectionHeading {
  margin-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 768px) {
  .sectionHeading {
    margin-bottom: 48px;
  }
}
.sectionHeading__heading {
  margin-bottom: 0 !important;
  width: 100%;
}
.sectionHeading__subtitle {
  margin-top: 16px;
  font-size: 14px;
}
@media (min-width: 500px) {
  .sectionHeading__subtitle {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  .sectionHeading__subtitle {
    font-size: 20px;
  }
}
.sectionHeading__link {
  width: 50%;
  margin-left: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  font-weight: 700;
}
.sectionHeading__link::before {
  content: "";
  margin-left: 6px;
}
@media (min-width: 500px) {
  .sectionHeading__link {
    font-size: 20px;
  }
}
.sectionHeading--single {
  display: block;
}

.subscribe {
  padding: 24px 0;
  background: #060C1D;
}
@media (min-width: 500px) {
  .subscribe {
    padding: 40px 0;
  }
}
@media (min-width: 768px) {
  .subscribe {
    padding: 60px 0;
  }
}
@media (min-width: 768px) {
  .subscribe__wrap {
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  .subscribe__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.subscribe__text {
  margin-bottom: 14px;
}
@media (min-width: 500px) {
  .subscribe__text {
    margin-bottom: 24px;
  }
}
@media (min-width: 992px) {
  .subscribe__text {
    max-width: 50%;
    margin-bottom: 0;
  }
}
.subscribe__text p {
  font-size: 14px;
}
@media (min-width: 768px) {
  .subscribe__text p {
    font-size: 18px;
  }
}
.subscribe__heading {
  margin-bottom: 20px;
}
@media (min-width: 500px) {
  .subscribe__heading {
    margin-bottom: 32px;
  }
}
.subscribe__field {
  width: 100%;
  position: relative;
}
@media (min-width: 992px) {
  .subscribe__field {
    max-width: 46%;
  }
}
.subscribe__field .btn {
  position: absolute;
  top: 50%;
  right: 6px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
@media (min-width: 500px) {
  .subscribe__field .btn {
    right: 17px;
  }
}
.subscribe__field .input {
  padding-right: 130px;
}
@media (min-width: 768px) {
  .subscribe__field .input {
    padding-right: 190px;
  }
}

.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.footer {
  margin-top: 36px;
  border-top: 1px solid #CBD5E1;
  padding: 12px 0;
}
@media (min-width: 500px) {
  .footer {
    margin-top: 60px;
    padding: 26px 0;
  }
}
.footer__wrap {
  text-align: center;
  gap: 20px;
}
@media (min-width: 992px) {
  .footer__wrap {
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.footer__copy {
  font-size: 12px;
}
@media (min-width: 500px) {
  .footer__copy {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  .footer__copy {
    font-size: 20px;
  }
}
.footer__socials {
  margin-top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}
@media (min-width: 992px) {
  .footer__socials {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: 0;
  }
}
.footer__socials li:not(:last-child) {
  margin-right: 16px;
}
@media (min-width: 500px) {
  .footer__socials li:not(:last-child) {
    margin-right: 18px;
  }
}

.postPage {
  padding-top: 24px;
}
@media (min-width: 500px) {
  .postPage {
    padding-top: 60px;
  }
}
.postPage__info {
  margin: 0px 0 24px 0;
  color: #9CA3AF;
  font-size: 14px;
}
@media (min-width: 500px) {
  .postPage__info {
    margin: 12px 0 42px 0;
    font-size: 20px;
    text-align: left;
  }
}
.postPage__thumb img {
  width: 100%;
  max-height: 800px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}
.postPage .content {
  padding-top: 38px;
}
@media (min-width: 500px) {
  .postPage .content {
    padding-top: 124px;
  }
}