/* roboto-300 - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/roboto-v30-cyrillic_latin-300.eot");
  src: url("../fonts/roboto-v30-cyrillic_latin-300.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-cyrillic_latin-300.woff2") format("woff2"), url("../fonts/roboto-v30-cyrillic_latin-300.woff") format("woff"), url("../fonts/roboto-v30-cyrillic_latin-300.ttf") format("truetype"), url("../fonts/roboto-v30-cyrillic_latin-300.svg#Roboto") format("svg");
}
/* roboto-regular - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-cyrillic_latin-regular.eot");
  src: url("../fonts/roboto-v30-cyrillic_latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-cyrillic_latin-regular.woff2") format("woff2"), url("../fonts/roboto-v30-cyrillic_latin-regular.woff") format("woff"), url("../fonts/roboto-v30-cyrillic_latin-regular.ttf") format("truetype"), url("../fonts/roboto-v30-cyrillic_latin-regular.svg#Roboto") format("svg");
}
/* roboto-500 - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v30-cyrillic_latin-500.eot");
  src: url("../fonts/roboto-v30-cyrillic_latin-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-cyrillic_latin-500.woff2") format("woff2"), url("../fonts/roboto-v30-cyrillic_latin-500.woff") format("woff"), url("../fonts/roboto-v30-cyrillic_latin-500.ttf") format("truetype"), url("../fonts/roboto-v30-cyrillic_latin-500.svg#Roboto") format("svg");
}
/* roboto-700 - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v30-cyrillic_latin-700.eot");
  src: url("../fonts/roboto-v30-cyrillic_latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-cyrillic_latin-700.woff2") format("woff2"), url("../fonts/roboto-v30-cyrillic_latin-700.woff") format("woff"), url("../fonts/roboto-v30-cyrillic_latin-700.ttf") format("truetype"), url("../fonts/roboto-v30-cyrillic_latin-700.svg#Roboto") format("svg");
}
.ic::before {
  content: "";
  display: block;
  background-image: url("../img/sprite2.svg");
}

.ic-logo::before, .ic-logo-h::before {
  content: "";
  width: 25px;
  height: 25px;
  background-position: 25px -7px;
}
@media (min-width: 500px) {
  .ic-logo::before, .ic-logo-h::before {
    width: 44px;
    height: 44px;
    background-position: 86px -7px;
  }
}

.ic-logo-h:hover::before {
  content: "";
}
@media (min-width: 768px) {
  .ic-logo-h:hover::before {
    background-position: 86px -68px;
  }
}

.ic-twitter::before, .ic-twitter-h::before {
  content: "";
  width: 31px;
  height: 31px;
  background-position: -248px 36px;
}
@media (min-width: 500px) {
  .ic-twitter::before, .ic-twitter-h::before {
    width: 60px;
    height: 60px;
    background-position: -236px -7px;
  }
}

.ic-twitter-h:hover::before {
  content: "";
}
@media (min-width: 768px) {
  .ic-twitter-h:hover::before {
    background-position: -236px -76px;
  }
}

.ic-facebook::before, .ic-facebook-h::before {
  content: "";
  width: 31px;
  height: 31px;
  background-position: -97px 35px;
}
@media (min-width: 500px) {
  .ic-facebook::before, .ic-facebook-h::before {
    width: 60px;
    height: 60px;
    background-position: -82px -8px;
  }
}

.ic-facebook-h:hover::before {
  content: "";
}
@media (min-width: 768px) {
  .ic-facebook-h:hover::before {
    background-position: -82px -76px;
  }
}

.ic-linkedin::before, .ic-linkedin-h::before {
  content: "";
  width: 31px;
  height: 31px;
  background-position: -174px 35px;
}
@media (min-width: 500px) {
  .ic-linkedin::before, .ic-linkedin-h::before {
    width: 60px;
    height: 60px;
    background-position: -159px -5px;
  }
}

.ic-linkedin-h:hover::before {
  content: "";
}
@media (min-width: 768px) {
  .ic-linkedin-h:hover::before {
    background-position: -159px -76px;
  }
}

.ic-youtube::before, .ic-youtube-h::before {
  content: "";
  width: 31px;
  height: 31px;
  background-position: -18px 35px;
}
@media (min-width: 500px) {
  .ic-youtube::before, .ic-youtube-h::before {
    width: 60px;
    height: 60px;
    background-position: -5px -6px;
  }
}

.ic-youtube-h:hover::before {
  content: "";
}
@media (min-width: 768px) {
  .ic-youtube-h:hover::before {
    background-position: -5px -75px;
  }
}

.ic-arrow::before, .ic-arrow-h::before {
  content: "";
  width: 20px;
  height: 20px;
  background-position: 136px -115px;
}
@media (min-width: 500px) {
  .ic-arrow::before, .ic-arrow-h::before {
    width: 37px;
    height: 37px;
    background-position: 144px -11px;
  }
}

.ic-arrow-h:hover::before {
  content: "";
}
@media (min-width: 768px) {
  .ic-arrow-h:hover::before {
    background-position: 144.5px -72px;
  }
}

.ic-github2::before, .ic-github2-h::before {
  content: "";
  width: 11px;
  height: 12px;
  background-position: 188px -99px;
}
@media (min-width: 500px) {
  .ic-github2::before, .ic-github2-h::before {
    width: 35px;
    height: 36px;
    background-position: 200px -8px;
  }
}

.ic-github2-h:hover::before {
  content: "";
}
@media (min-width: 768px) {
  .ic-github2-h:hover::before {
    background-position: 200px -54px;
  }
}

.ic-facebook2::before, .ic-facebook2-h::before {
  content: "";
  width: 8px;
  height: 13px;
  background-position: 242px -99px;
}
@media (min-width: 500px) {
  .ic-facebook2::before, .ic-facebook2-h::before {
    width: 23px;
    height: 35px;
    background-position: 250px -11px;
  }
}

.ic-facebook2-h:hover::before {
  content: "";
}
@media (min-width: 768px) {
  .ic-facebook2-h:hover::before {
    background-position: 250px -55px;
  }
}

.ic-twitter2::before, .ic-twitter2-h::before {
  content: "";
  width: 13px;
  height: 11px;
  background-position: 369px -99px;
}
@media (min-width: 500px) {
  .ic-twitter2::before, .ic-twitter2-h::before {
    width: 38px;
    height: 32px;
    background-position: 381px -13px;
  }
}

.ic-twitter2-h:hover::before {
  content: "";
}
@media (min-width: 768px) {
  .ic-twitter2-h:hover::before {
    background-position: 381px -57px;
  }
}

.ic-linkedin2::before, .ic-linkedin2-h::before {
  content: "";
  width: 11px;
  height: 11px;
  background-position: 306px -100px;
}
@media (min-width: 500px) {
  .ic-linkedin2::before, .ic-linkedin2-h::before {
    width: 32px;
    height: 32px;
    background-position: 317px -12px;
  }
}

.ic-linkedin2-h:hover::before {
  content: "";
}
@media (min-width: 768px) {
  .ic-linkedin2-h:hover::before {
    background-position: 317px -57px;
  }
}

.input {
  padding: 12px;
  border: 1px solid transparent;
  resize: none;
  width: 100%;
  background: #1E293B;
  border-radius: 30px;
  font-size: 10px;
  font-weight: 400;
  color: #F8FAFC;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
@media (min-width: 500px) {
  .input {
    font-size: 14px;
    padding: 16px;
  }
}
@media (min-width: 768px) {
  .input {
    padding: 22px 22px 22px 42px;
    font-size: 20px;
  }
}
.input::-webkit-input-placeholder {
  color: #CBD5E1;
  font-family: "Roboto";
}
.input::-moz-placeholder {
  color: #CBD5E1;
  font-family: "Roboto";
}
.input:-moz-placeholder {
  color: #CBD5E1;
  font-family: "Roboto";
}
.input:-ms-input-placeholder {
  color: #CBD5E1;
  font-family: "Roboto";
}
.input--err {
  border-color: red !important;
  -webkit-animation: input_error 0.1s linear 0s 2;
          animation: input_error 0.1s linear 0s 2;
}
.input--ok {
  border-color: green;
}

.field--two {
  display: block;
}
.field--two input:not(:last-child),
.field--two textarea:not(:last-child) {
  margin-bottom: 16px;
}
@media (min-width: 500px) {
  .field--two {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
  }
}
.field--three {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 8px;
}

@-webkit-keyframes input_error {
  0% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
  50% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes input_error {
  0% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
  50% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@media (min-width: 768px) {
  .link:hover {
    background: -webkit-linear-gradient(270deg, #22D3EE 32.96%, #0EA5E9 52.81%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.sectionHeading {
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 500px) {
  .sectionHeading {
    padding-bottom: 10px;
  }
}
@media (min-width: 768px) {
  .sectionHeading {
    padding-bottom: 40px;
  }
}
.sectionHeading__heading {
  margin-bottom: 0 !important;
}
.sectionHeading__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  font-weight: 700;
}
.sectionHeading__link::before {
  content: "";
  margin-left: 12px;
}
@media (min-width: 500px) {
  .sectionHeading__link {
    font-size: 20px;
  }
}

@media (min-width: 500px) {
  .posts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
}
@media (min-width: 992px) {
  .posts {
    grid-template-columns: repeat(3, 1fr);
  }
}

.post {
  border-radius: 20px;
  overflow: hidden;
  background: #1E293B;
  display: block;
  max-width: 230px;
  margin: 0 auto;
}
@media (min-width: 500px) {
  .post {
    max-width: 100%;
  }
}
.post:not(:last-child) {
  margin-bottom: 32px;
}
@media (min-width: 500px) {
  .post:not(:last-child) {
    margin-bottom: 0;
  }
}
.post__thumb {
  overflow: hidden;
}
.post__thumb img {
  width: 100%;
  height: 183px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
@media (min-width: 500px) {
  .post__thumb img {
    height: 293px;
  }
}
.post__caption {
  padding: 14px 8px 8px;
  text-align: center;
}
@media (min-width: 500px) {
  .post__caption {
    padding: 22px 14px 14px;
  }
}
.post__title {
  font-size: 15px;
  font-weight: 700;
}
@media (min-width: 500px) {
  .post__title {
    font-size: 20px;
  }
}
@media (min-width: 768px) {
  .post__title {
    font-size: 24px;
  }
}
.post__subtitle {
  margin-top: 8px;
  font-size: 12px;
  font-weight: 400;
  color: #9CA3AF;
}
@media (min-width: 500px) {
  .post__subtitle {
    font-size: 14px;
  }
}
@media (min-width: 768px) {
  .post__subtitle {
    font-size: 20px;
  }
}
.post__description {
  margin-top: 16px;
  font-size: 12px;
}
@media (min-width: 500px) {
  .post__description {
    font-size: 14px;
  }
}
@media (min-width: 768px) {
  .post__description {
    font-size: 20px;
  }
}
.post:hover {
  -webkit-box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.36);
          box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.36);
}
.post:hover .post__thumb img {
  -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition: -webkit-transform 5s;
  transition: -webkit-transform 5s;
  transition: transform 5s;
  transition: transform 5s, -webkit-transform 5s;
}

.subscribe {
  padding-top: 42px;
}
@media (min-width: 500px) {
  .subscribe {
    padding-top: 80px;
  }
}
@media (min-width: 768px) {
  .subscribe {
    padding-top: 132px;
  }
}
@media (min-width: 500px) {
  .subscribe__wrap {
    max-width: 70%;
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  .subscribe__wrap {
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  .subscribe__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.subscribe__text {
  margin-bottom: 14px;
}
@media (min-width: 500px) {
  .subscribe__text {
    margin-bottom: 24px;
  }
}
@media (min-width: 992px) {
  .subscribe__text {
    max-width: 50%;
    margin-bottom: 0;
  }
}
.subscribe__text p {
  font-size: 10px;
}
@media (min-width: 500px) {
  .subscribe__text p {
    font-size: 14px;
  }
}
@media (min-width: 768px) {
  .subscribe__text p {
    font-size: 20px;
  }
}
.subscribe__heading {
  margin-bottom: 20px;
}
@media (min-width: 500px) {
  .subscribe__heading {
    margin-bottom: 32px;
  }
}
.subscribe__field {
  width: 100%;
  position: relative;
}
@media (min-width: 992px) {
  .subscribe__field {
    max-width: 46%;
  }
}
.subscribe__field .btn {
  position: absolute;
  top: 50%;
  right: 6px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
@media (min-width: 500px) {
  .subscribe__field .btn {
    right: 17px;
  }
}
.subscribe__field .input {
  padding-right: 190px;
}

.footer {
  margin-top: 58px;
  border-top: 1px solid #CBD5E1;
  padding: 12px 0;
}
@media (min-width: 500px) {
  .footer {
    padding: 26px 0;
  }
}
@media (min-width: 768px) {
  .footer {
    margin-top: 116px;
    padding: 26px 0 46px 0;
  }
}
.footer__wrap {
  text-align: center;
}
@media (min-width: 992px) {
  .footer__wrap {
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.footer__copy {
  font-size: 8px;
}
@media (min-width: 500px) {
  .footer__copy {
    font-size: 14px;
  }
}
@media (min-width: 768px) {
  .footer__copy {
    font-size: 20px;
  }
}
.footer__socials {
  margin-top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 992px) {
  .footer__socials {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: 0;
  }
}
.footer__socials li:not(:last-child) {
  margin-right: 8px;
}
@media (min-width: 500px) {
  .footer__socials li:not(:last-child) {
    margin-right: 18px;
  }
}