footer.footer
  .container
    .footer__wrap 
      .footer__copy 
        | © Copyright 2022 by Ixartz’s blog. Built with ♥ by CreativeDesignsGuru
      ul.footer__socials
        li
          a(href="#").ic.ic-github2.ic-github2-h 
        li
          a(href="#").ic.ic-facebook2.ic-facebook2-h 
        li
          a(href="#").ic.ic-twitter2.ic-twitter2-h  
        li
          a(href="#").ic.ic-linkedin2.ic-linkedin2-h  





include ../../inc/scripts.pug
include ../../inc/styles.pug
