- var title = "Main page";

doctype html
html(lang="en")
  include ../blocks/head.pug
  body.root.page-home

    include ../blocks/header/header.pug

    main.main Hello world!

    include ../blocks/footer/footer.pug
