- var title = "Main page";

doctype html
html(lang="en")
  include ../blocks/head.pug
  body.root.page-home

    include ../blocks/header/header.pug

    main.main
      //include ../blocks/sections/intro.pug
      include ../blocks/sections/heroHome.pug
      //include ../blocks/sections/recent.pug
      include ../blocks/sections/latest.pug
      include ../blocks/sections/subscribe.pug
      include ../blocks/sections/posts.pug
    
    

    include ../blocks/footer/footer.pug
