- var title = "Post page";

// TODO: remove adverts before build

doctype html
html(lang="en")
  include ../blocks/head.pug
  body.root.page-post

    include ../blocks/header/header.pug

    main.main
      include ../blocks/post/hero.pug

      .page-advert
        .container
          include ../blocks/adverts/advert-hero.pug

      include ../blocks/post/content.pug
      include ../blocks/post/end.pug

      .page-advert
        .container
          include ../blocks/adverts/advert-hero.pug

      include ../blocks/sections/also.pug
    
    include ../blocks/post/post-navigation.pug

    include ../blocks/footer/footer.pug
