- var title = "Post page";

doctype html
html(lang="en")
  include ../blocks/head.pug
  body.root.page-post

    include ../blocks/header/header.pug

    main.main
      include ../blocks/sections/post.pug
    
    include ../blocks/subscribe.pug

    include ../blocks/footer/footer.pug
