script(src="./libs/swiper/swiper-bundle.min.js")
script(src="./libs/aos/aos.js")
script(src="./libs/nouislider/nouislider.min.js")
script(src="./libs/view_360/js-cloudimage-360-view.min.js")
script(src="./libs/lazysizes/lazysizes.min.js")
script(src="./libs/jquery/jquery.min.js")
script(src="./libs/lightbox/jquery.fancybox.min.js")
script(src="./libs/mask/imask.min.js")


<!-- build:js -->
script(src="./js/main.js")
<!-- endbuild -->