link(rel="stylesheet" data-style="swiper" href="./css/libs/swiper-bundle.min.css")
link(rel="stylesheet" data-style="aos" href="./css/libs/aos.css")
link(rel="stylesheet" data-style="nouislider" href="./css/libs/nouislider.css")
link(rel="stylesheet" data-style="fancybox" href="./css/libs/jquery.fancybox.min.css")

<!-- build:css_main -->
link(rel="stylesheet" href="./css/main.css")
<!-- endbuild -->
