.subscribe 
  .container
    .subscribe__wrap
      .subscribe__text
        div.heading.subscribe__heading 
          | Subscribe to my 
          span.text-primary Newsletters
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        p Phasellus malesuada nisi tellus, non imperdiet nisi tempor at.
      .subscribe__field
        input(type="email" name="email" id="subscriber_email" placeholder="Enter your Email").input
        button.btn.btn--primary Subscribe
