-
  let categories = [
    { title: 'Health', img: './img/category.jpg'}, 
    { title: 'Adventures & Travels', img: './img/img2.jpg', active: true}, 
    { title: 'Sports', img: './img/img3.jpg'}, 
    { title: 'About food', img: './img/img1.jpg'}, 
    { title: 'Informations', img: './img/img2.jpg'}, 
    { title: 'Animals world', img: './img/img3.jpg'}, 
    { title: 'Technologies', img: './img/img1.jpg'}, 
    { title: 'Lifehacks', img: './img/img2.jpg'}, 
    { title: 'News', img: './img/img3.jpg'}, 
  ]
