-
  let populars = [
    { title: 'Dream destinations to visit this year in Paris 1', img: './img/img1.jpg'},
    { title: 'Dream destinations to visit this year in Paris 2', img: './img/img2.jpg'},
    { title: 'Dream destinations to visit this year in Paris 3', img: './img/img3.jpg'},
    { title: 'Dream destinations to visit this year in Paris 4', img: './img/img1.jpg'},
    { title: 'Dream destinations to visit this year in Paris 5', img: './img/img2.jpg'},
  ]
