-
  let posts_list = [
    {
      title: 'Lorem ipsum dolor 1',
      subtitle: 'April 24, 2022',
      description: 'Nunc non posuere consectetur, justo erat semper enim, non hendrerit dui odio id enim.',
      thumb: {
        src: './img/posts/post1.jpg', 
        alt: 'post1'
      }
    },
    {
      title: 'Lorem ipsum dolor 2',
      subtitle: 'April 03, 2022',
      description: 'Nunc non posuere consectetur, justo erat semper enim, non hendrerit dui odio id enim.',
      thumb: {
        src: './img/posts/post2.jpg', 
        alt: 'post2'
      }
    },
    {
      title: 'Lorem ipsum dolor 3',
      subtitle: 'March 12, 2022',
      description: 'Nunc non posuere consectetur, justo erat semper enim, non hendrerit dui odio id enim.',
      thumb: {
        src: './img/posts/post3.jpg', 
        alt: 'post3'
      }
    },
    {
      title: 'Lorem ipsum dolor 4',
      subtitle: 'April 24, 2022',
      description: 'Nunc non posuere consectetur, justo erat semper enim, non hendrerit dui odio id enim.',
      thumb: {
        src: './img/posts/post4.jpg', 
        alt: 'post1'
      }
    },
    {
      title: 'Lorem ipsum dolor 5',
      subtitle: 'April 03, 2022',
      description: 'Nunc non posuere consectetur, justo erat semper enim, non hendrerit dui odio id enim.',
      thumb: {
        src: './img/posts/post5.jpg', 
        alt: 'post2'
      }
    },
    {
      title: 'Lorem ipsum dolor 6',
      subtitle: 'March 12, 2022',
      description: 'Nunc non posuere consectetur, justo erat semper enim, non hendrerit dui odio id enim.',
      thumb: {
        src: './img/posts/post6.jpg', 
        alt: 'post3'
      }
    },
  ]
