-
  let project_list = [
    {
      title: 'Project1',
      type: {
        name: 'Web Design',
        tpl: 'tpl1'
      },
      subtitles: [
        'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse bibendum.', 
        'Nunc non posuere consectetur, justo erat semper enim, non hendrerit dui odio id enim.'
      ],
      photo: {
        src: './img/projects/p1.png', 
        alt: 'project1'
      }
    },
    {
      title: 'Project2',
      type: {
        name: 'Next.js',
        tpl: 'tpl2'
      },
      subtitles: [
        'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse bibendum.', 
        'Nunc non posuere consectetur, justo erat semper enim, non hendrerit dui odio id enim.'
      ],
      photo: {
        src: './img/projects/p2.png', 
        alt: 'project2'
      }
    },
    {
      title: 'Project3',
      type: {
        name: 'Awesome feature',
        tpl: 'tpl3'
      },
      subtitles: [
        'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse bibendum.', 
        'Nunc non posuere consectetur, justo erat semper enim, non hendrerit dui odio id enim.'
      ],
      photo: {
        src: './img/projects/p3.png', 
        alt: 'project3'
      }
    },
  ]
