//font
$ff: 'Roboto'
$fz: 18px
$fw: 400
$lh: 1.5

// colors
$c_body: #0F172A
$c_primary_gradient: #325EB4 50%, #478EE2 100%
$c_post_gradient_hover: #325eb421 50%, #478ee230 100%
$c_primary: $c_primary_gradient
$c_secondary: #1E293B
$c_default: #F8FAFC

$c_text: #CBD5E1
$c_heading: $c_default
$c_link: $c_default
$c_project: $c_secondary
$c_post: $c_secondary
$c_post_subtitle: #9CA3AF
$c_subscribe_bg: #060C1D

$c_shadow_overlay: rgba(15, 23, 42, 0.79)

$c_overlay: rgba(0,0,0,.5)


$c_tag: rgba(248, 250, 252, 0.70)


$transparent: rgba(0,0,0,0)

//layout
$container: 1150px
$container_lg: 1400px
$container_max: 2400px



//animations
$overlay_tran: .5s
