include ../../storage/posts.pug
include ../../inc/mixins.pug


section.content
  .container
    h2 h2 Lorem ipsum dolor sit amet 
    p Eum 
      strong aperiam
      |  facilis aut 
      u deleniti
      |  ipsa At aspernatur nisi quo corporis 
      a(href="#") assumenda 
      |  non dolores rerum ad velit porro rem nulla reprehenderit. Non repudiandae harum ut harum laudantium et veritatis eaque et nesciunt voluptas ad aliquam aliquam non nemo voluptas. Sit molestiae doloribus At nemo repudiandae et reiciendis autem cum culpa optio ex ipsum eius et accusantium omnis At neque quaerat.
    ul 
      li Non magni quisquam
      li Eum aperiam facilis
      li Id quibusdam corporis et voluptate minus
      li Qui internos impedit vel unde
    img(src="./img/img1.jpg", alt="")
    span Image: image
    h2 h2 Lorem ipsum dolor
    p Id quibusdam corporis et voluptate minus aut veniam quasi a magni incidunt in fuga distinctio et sunt autem et dolore dolor. Quo explicabo quidem aut esse suscipit ea inventore quia non nulla laborum non quia nemo est pariatur qui temporibus molestiae! Aut corporis distinctio ut aliquam eveniet et perferendis voluptate qui repellat quia. Est architecto assumenda cum ipsam architecto aut mollitia perferendis aut illum ullam ab praesentium animi.
    blockquote Id quibusdam corporis et voluptate minus aut veniam quasi a magni incidunt in fuga distinctio et sunt autem et dolore dolor. Id quibusdam corporis et voluptate minus aut veniam quasi a magni incidunt in fuga distinctio et sunt autem et dolore dolor. 
    h2 h2 Lorem ipsum dolor
    p Id quibusdam corporis et voluptate minus aut veniam quasi a magni incidunt in fuga distinctio et sunt autem et dolore dolor. Quo explicabo quidem aut esse suscipit ea inventore quia non nulla laborum non quia nemo est pariatur qui temporibus molestiae! Aut corporis distinctio ut aliquam eveniet et perferendis voluptate qui repellat quia. Est architecto assumenda cum ipsam architecto aut mollitia perferendis aut illum ullam ab praesentium animi.
    h2 h2 Lorem ipsum dolor sit amet 
    ol 
      li Non magni quisquam
      li Eum aperiam facilis
      li Id quibusdam corporis et voluptate minus
      li Qui internos impedit vel unde
    img(src="./img/img1.jpg", alt="")
    span Image: image
    h3 h3 Lorem ipsum dolor
    p Id quibusdam corporis et voluptate minus aut veniam quasi a magni incidunt in fuga distinctio et sunt autem et dolore dolor. Quo explicabo quidem aut esse suscipit ea inventore quia non nulla laborum non quia nemo est pariatur qui temporibus molestiae! Aut corporis distinctio ut aliquam eveniet et perferendis voluptate qui repellat quia. Est architecto assumenda cum ipsam architecto aut mollitia perferendis aut illum ullam ab praesentium animi.
    p Id quibusdam corporis et voluptate minus aut veniam quasi a magni incidunt in fuga distinctio et sunt autem et dolore dolor. Quo explicabo quidem aut esse suscipit ea inventore quia non nulla laborum non quia nemo est pariatur qui temporibus molestiae! Aut corporis distinctio ut aliquam eveniet et perferendis voluptate qui repellat quia. Est architecto assumenda cum ipsam architecto aut mollitia perferendis aut illum ullam ab praesentium animi.
    iframe(src="https://www.youtube.com/embed/zFiqZMTmolY?si=-XSqN5JkZ7oUsjv0", frameborder="0") 
    span Video: Stunning Views of Mountains 4K with Relaxation Music
    p Id quibusdam corporis et voluptate minus aut veniam quasi a magni incidunt in fuga distinctio et sunt autem et dolore dolor. Quo explicabo quidem aut esse suscipit ea inventore quia non nulla laborum non quia nemo est pariatur qui temporibus molestiae! Aut corporis distinctio ut aliquam eveniet et perferendis voluptate qui repellat quia. Est architecto assumenda cum ipsam architecto aut mollitia perferendis aut illum ullam ab praesentium animi.
    ul 
      li Non magni quisquam
      li Eum aperiam facilis
      li Id quibusdam corporis et voluptate minus
      li Qui internos impedit vel unde
    blockquote Id quibusdam corporis et voluptate minus aut veniam quasi a magni incidunt in fuga distinctio et sunt autem et dolore dolor. Id quibusdam corporis et voluptate minus aut veniam quasi a magni incidunt in fuga distinctio et sunt autem et dolore dolor. 
    h4 h4 Lorem ipsum dolor
    p Id quibusdam corporis et voluptate minus aut veniam quasi a magni incidunt in fuga distinctio et sunt autem et dolore dolor. Quo explicabo quidem aut esse suscipit ea inventore quia non nulla laborum non quia nemo est pariatur qui temporibus molestiae! Aut corporis distinctio ut aliquam eveniet et perferendis voluptate qui repellat quia. Est architecto assumenda cum ipsam architecto aut mollitia perferendis aut illum ullam ab praesentium animi.
    table
      tr
        th Company
        th Contact
        th Country
        th Company
        th Contact
      tr
        td Alfreds Futterkiste
        td Maria Anders
        td Germany
        td Alfreds Futterkiste
        td Maria Anders
      tr
        td Centro comercial Moctezuma
        td Francisco Chang
        td Mexico
        td Centro comercial Moctezuma
        td Francisco Chang
      tr
        td Alfreds Futterkiste
        td Maria Anders
        td Germany
        td Alfreds Futterkiste
        td Maria Anders
      tr
        td Centro comercial Moctezuma
        td Francisco Chang
        td Mexico
        td Centro comercial Moctezuma
        td Francisco Chang
      tr
        td Alfreds Futterkiste
        td Maria Anders
        td Germany
        td Alfreds Futterkiste
        td Maria Anders
      tr
        td Centro comercial Moctezuma
        td Francisco Chang
        td Mexico
        td Centro comercial Moctezuma
        td Francisco Chang
    p Id quibusdam corporis et voluptate minus aut veniam quasi a magni incidunt in fuga distinctio et sunt autem et dolore dolor. Quo explicabo quidem aut esse suscipit ea inventore quia non nulla laborum non quia nemo est pariatur qui temporibus molestiae! Aut corporis distinctio ut aliquam eveniet et perferendis voluptate qui repellat quia. Est architecto assumenda cum ipsam architecto aut mollitia perferendis aut illum ullam ab praesentium animi.
    h5 h5 Lorem ipsum dolor
    p Id quibusdam corporis et voluptate minus aut veniam quasi a magni incidunt in fuga distinctio et sunt autem et dolore dolor. Quo explicabo quidem aut esse suscipit ea inventore quia non nulla laborum non quia nemo est pariatur qui temporibus molestiae! Aut corporis distinctio ut aliquam eveniet et perferendis voluptate qui repellat quia. Est architecto assumenda cum ipsam architecto aut mollitia perferendis aut illum ullam ab praesentium animi.
    h6 h6 Lorem ipsum dolor
    p Id quibusdam corporis et voluptate minus aut veniam quasi a magni incidunt in fuga distinctio et sunt autem et dolore dolor. Quo explicabo quidem aut esse suscipit ea inventore quia non nulla laborum non quia nemo est pariatur qui temporibus molestiae! Aut corporis distinctio ut aliquam eveniet et perferendis voluptate qui repellat quia. Est architecto assumenda cum ipsam architecto aut mollitia perferendis aut illum ullam ab praesentium animi.
    ol 
      li Non magni quisquam
      li Eum aperiam facilis
      li Id quibusdam corporis et voluptate minus
      li Qui internos impedit vel unde
    





