section.postEnd 
  .container 
    .postEnd__wrap
      .postEnd__tags.tags
        a(href="#").tag adventures
        a(href="#").tag travels
        a(href="#").tag health
      .postEnd__share.share
        span.ic.ic-share Share:
        ul
          li
            a.ic.ic-twitter-xs(href="#" aria-label="Go to Twitter") 
          li
            a.ic.ic-facebook-xs(href="#" aria-label="Go to Facebook") 
          li
            a.ic.ic-linkedin-xs(href="#" aria-label="Go to Linkedin") 
          li
            a.ic.ic-youtube-xs(href="#" aria-label="Go to Youtube")
