section.postHero 
  img.postHero__img(src="./img/img1.jpg", alt="")
  .container
    .postHero__info
      h1.postHero__heading.heading Dream destinations to visit this year in Paris 
      .postHero__date.ic.ic-calendar April 24, 2022 - 5 min read
      .postHero__tags.tags
        a(href="#").tag adventures
        a(href="#").tag travels
        a(href="#").tag health
