.postNav
  button.btn.ic.ic-contents.postNav__open#contents_open
  .postNav__content#contents
    p.postNav__title Contents:
    ul
      //- li
      //-   a(href="") Non magni quisquam
      //- li
      //-   a(href="") Eum aperiam facilis
      //- li
      //-   a(href="") test3
      //- li
      //-   a(href="") Id quibusdam corporis
      //- li
      //-   a(href="") test5
      //- li
      //-   a(href="") test6
      //- li
      //-   a(href="") test7
      //- li
      //-   a(href="") test8
      //- li
      //-   a(href="") test9
      //- li
      //-   a(href="") test10
    button.btn.ic.ic-close.postNav__close#contents_close

