section.pagination 
  ul
    li.disabled.pagination__prev
      a(href="#").ic.ic-prev
    li.active
      a(href="#") 1
    li
      a(href="#") 2
    li
      a(href="#") 3
    li
      a(href="#") 4
    li
      a(href="#") 5
    li.pagination__next
      a(href="#").ic.ic-next
